.bg-nuvole {
    background-image: url("../images/nuvole.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-tristi {
    background-image: url("../images/tristi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-volo {
    background-image: url("../images/volo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-woody {
    background-image: url("../images/woody.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

input, label, button, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}